body {
    font-family: Arial, sans-serif;
    background-color: #00f4fd;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2de300;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0020ed;
}

p {
    margin-top: 20px;
    font-size: 18px;
}
